body {
    background-color: #10141b !important ;
}
h2{
    text-align: center;
}
.news{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: auto;
    justify-content: center;
}

.box {
    width: 303.4px;
    border-radius: 10px;
    background-color: #1a1d23;
    color: #fdfdfd;
    margin-top: 24px;
    font-family: 'Quicksand', sans-serif;
    z-index: 10;
    cursor: pointer;
}

.image {
    width: 303.4px;
    height: 210px;
    border-radius: 10px 10px 0px 0px;
}

.box img {
    width: 100%;
    height: 210px;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
}

.box img:hover {
    transform: scale(1.1);
    transition: 0.2s;
    z-index: 1;
}

.image {
    width: 303.4px;
    height: 201px;
    overflow: hidden;
    margin: 0 auto;
}

.image img {
    width: 100%;
    transition: 0.5s all ease-in-out;
}

.image:hover img {
    transform: scale(1.1);
}


.box .content {
    padding: 16px;
}

.box .time {
    padding-bottom: 12px;
}

.prenext{
    margin: 30px;
    margin-right: 60px;
    text-align: end;
}

input[type="submit"] {
    font-family: Arial, sans-serif;
    font-size: 16px;
    letter-spacing: 0.5px;
    padding: 12px 20px;
    background-color: #354d5e;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    margin: 0 5px;
}


input[type="submit"]:hover {
    background-color: #222e37;
    transform: scale(1.05);
}


input[type="submit"]:active {
    transform: scale(0.95);
    background-color: #2471a3;
}


